.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 12px;
}

input {
    padding: 10px 40px;
}